<!DOCTYPE html>
<html>
  <head>
    <title>Index for <%= @uri_path %></title>
    <meta name="updated-at" content="<%= @build_time %>">
    <style type="text/css">body { font-family: sans-serif; }</style>
  </head>
  <body>
    <h1>Index for <%= @uri_path %></h1>
    <ul>
      <% @entries.each do |entry| %>
      <li><a href="<%= entry %>"><%= entry %></a></li>
      <% end %>
    </ul>
    <hr>
    <p>updated at: <code><%= @build_time %></code></p>
    <pre><%= @version %></pre>
  </body>
</html>
