From: <%= @from %>
To: <%= @recipients %>
Subject: [hookworm] Rogue commit by <%= @head_commit_author %> to <%= @repo %> <%= @ref %> (<%= @head_commit_id %>)
Date: <%= @date %>
Message-ID: <<%= @message_id %>@<%= @hostname %>>
List-ID: <%= @repo %> <hookworm.github.com>
Content-Type: multipart/alternative;
  boundary="--==ZOMGBOUNDARAAAYYYYY";
  charset=UTF-8
Content-Transfer-Encoding: 7bit

----==ZOMGBOUNDARAAAYYYYY
Date: <%= @date %>
Mime-Version: 1.0
Content-Type: text/plain; charset=utf8
Content-Transfer-Encoding: 7bit

Rogue commit detected!

Repo      <%= @repo %>
Ref       <%= @ref %>
ID        <%= @head_commit_id %>
Author    <%= @head_commit_author %>
Committer <%= @head_commit_committer %>
Timestamp <%= @head_commit_timestamp %>
Message   <%= @head_commit_message_text %>

--
This email was sent by hookworm:  https://github.com/modcloth-labs/hookworm

A rogue commit is a commit made directly to a branch that is being watched such
that only pull requests should be merged into them.

The configured watched branches are:

<% (@watched_branches || []).each do |branch| %> - <%= branch %>
<% end %>

The configured watched paths are:

<% (@watched_paths || []).each do |path| %> - <%= path %>
<% end %>


If you believe this rogue commit email is an error, you should hunt down the
party responsible for the hookworm instance registered as a WebHook URL in this
repo's service hook settings (<%= @repo_url %>/settings/hooks).

Pretty please submit issues specific to hookworm functionality on github:
https://github.com/modcloth-labs/hookworm/issues/new

----==ZOMGBOUNDARAAAYYYYY
Date: <%= @date %>
Mime-Version: 1.0
Content-Type: text/html; charset=utf8
Content-Transfer-Encoding: 7bit

<div>
  <h1><a href="<%= @head_commit_url %>">Rogue commit detected!</a></h1>

  <table>
    <thead><th></th><th></th></thead>
    <tbody>
      <tr>
        <td style="text-align:right;vertical-align:top;">
          <strong>Repo</strong>:
        </td>
        <td><%= @repo %></td>
      </tr>
      <tr>
        <td style="text-align:right;vertical-align:top;">
          <strong>Ref</strong>:
        </td>
        <td><%= @ref %></td>
      </tr>
      <tr>
        <td style="text-align:right;vertical-align:top;">
          <strong>ID</strong>:
        </td>
        <td><a href="<%= @head_commit_url %>"><%= @head_commit_id %></a></td>
      </tr>
      <tr>
        <td style="text-align:right;vertical-align:top;">
          <strong>Author</strong>:
        </td>
        <td><%= @head_commit_author %></td>
      </tr>
      <tr>
        <td style="text-align:right;vertical-align:top;">
          <strong>Committer</strong>:
        </td>
        <td><%= @head_commit_committer %></td>
      </tr>
      <tr>
        <td style="text-align:right;vertical-align:top;">
          <strong>Timestamp</strong>:
        </td>
        <td><%= @head_commit_timestamp %></td>
      </tr>
      <tr>
        <td style="text-align:right;vertical-align:top;">
          <strong>Message</strong>:
        </td>
        <td><%= @head_commit_message_html %></td>
      </tr>
    </tbody>
  </table>
</div>

<hr/>
<div style="font-size:.8em">
  <p>
    This email was sent by
    <a href="https://github.com/modcloth-labs/hookworm">hookworm</a>.
  </p>

  <p>
    A rogue commit is a commit made directly to a branch that is being watched such
    that only pull requests should be merged into them.
  </p>

  <p>
    The configured watched branches are:
  </p>

  <ul>
    <% (@watched_branches || []).each do |branch| %><li><strong><%= branch %></strong></li>
    <% end %>
  </ul>

  <p>
    The configured watched paths are:
  </p>

  <ul>
    <% (@watched_paths || []).each do |path| %><li><strong><%= path %></strong></li>
    <% end %>
  </ul>

  <p>
    If you believe this rogue commit email is an error, you should hunt down the
    party responsible for the hookworm instance registered as a WebHook URL in
    this repo's <a href="<%= @repo_url %>/settings/hooks">service hook settings</a>.
  </p>

  <p>
    Pretty please submit issues specific to hookworm functionality
    <a href="https://github.com/modcloth-labs/hookworm/issues/new">on github</a>
  </p>

</div>

----==ZOMGBOUNDARAAAYYYYY--
